@import "tailwindcss";

@theme {
  --color-brand-blue: #0011ff;
  --color-brand-dark: #050505;
}

body {
  background-color: var(--color-brand-dark);
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}
